auto-save-list/
elpa/
.cache
.recentf
.projectile
projectile.cache
projectile-bookmarks.eld
*.elc
*.pyc
*.*~
recentf
snippets/
url/
.mc-lists.el
abbrev_defs
company-statistics-cache.el
games
magithub
oauth2.plstore
core-prodigy-services.el
