auto-save-list/
elpa/
meghanada/
.cache
.recentf
.projectile
.lsp-session*
projectile.cache
projectile-bookmarks.eld
*.elc
*.pyc
*.*~
recentf
snippets/
url/
.mc-lists.el
abbrev_defs
company-statistics-cache.el
games
magithub
oauth2.plstore
core-prodigy-*.el
server
